{% extends "layout.html" %}

{% block content %}
    {% load static %}


    <div class="container">

        <div class="card shadow p-4 mb-3">
            <h3 class="card-header right-just">{{ name }}'s {{ title }}</h3>
            <h5>Dynamic, accomplished Professional with the educational background and proven work ethic to handle
                test and systems
                administrating. Proud member of the USAF who maintains excellent service in fast-paced environments,
                with the skillset to analyze
                data, create training products, leverage new technologies, and support training next generation
                operators. Out-of-the-box thinker
                who is committed to effectively collaborating with diverse teams while ensuring results consistently
                meet or exceed business goals.
                Exemplary educational qualifications include a forthcoming Bachelor of Science in Computer
                Information Technology.</h5>
        </div>

        <div class="card shadow mb-3">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            <h4><i class="fas fa-briefcase text-teal"></i> Experience</h4>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h3 class="right-just">U.S. AIR FORCE | BUCKLEY AFB, CO | 2016 – PRESENT </h3>
                            <h4>Mission Management Planner: 2019 – Present </h4>
                            <h6>Promoted up to a Planner role, oversee a satellite anomaly response team to rapidly
                                troubleshoot solutions of 40 personnel in 24/7/365 operations while maintaining the
                                highest standards of quality, efficiency, and integrity.</h6>
                            <ul>
                                <li>Aided testing and integration of a complex system upgrade that was delivered
                                    ahead of schedule.
                                </li>
                                <li>Instructed 32 operators in a classroom environment and on the job training to
                                    mentor and improve skill sets despite operational challenges, working with
                                    senior staff to streamline training and reduce related issues.
                                </li>
                                <li>Chosen as the principal liaison with satellite factory experts to plan and
                                    schedule various projects under heavy workload.
                                </li>
                            </ul>
                            <h4>Mission Management Crew Lead: 2017 – 2019 </h4>
                            <h6>Oversaw 3 personnel with intelligence agencies to deconflict space-based
                                surveillance operations, excelling as the main point of contact for escalated
                                problems and presentations surrounding complex information.</h6>
                            <ul>
                                <li>Led development of quick response tactic to cut relevant delay times up to 71%
                                    and executed 136 critical satellite commands to achieve short- and long-term
                                    objectives, earning commendations for work ethic.
                                </li>
                                <li>Monitored satellite telemetry and supported the creation of new standard
                                    operating procedures for the division.
                                </li>
                            </ul>
                            <h4>Ground System Operator: 2016 – 2017 </h4>
                            <h6>Adhered to strict schedules to fulfill 1.1k supports at 6 ground stations, complying
                                with all policies and protocols.</h6>
                            <ul>
                                <li>Executed 72 critical server failovers, 85 maintains actions, 100 outage
                                    resolutions to guaranteed steady data paths for essential systems, all while
                                    supporting major upgrade and optimization projects throughout the stations.
                                </li>
                                <li>Processed infrared data distribution and advocated for changes to reduce
                                    costs.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                            <h4><i class="fas fa-user-graduate text-teal"></i> Education
                            </h4>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h3 class="right-just">Colorado Christian University</h3>
                            <h4>Bachelor of Science (Candidate) – Computer Information Technology, System Analysis
                                (GPA: 3.91) </h4>
                            <h5>Key Courses ::</h5>
                            <ul>
                                <li>Organizational Behavior</li>
                                <li>Software Project Methods</li>
                                <li>Programming Fundamentals I</li>
                            </ul>
                            <h5>Honors & Awards :: Dean’s List</h5>
                            <h5>Projects :: Microsoft Project, Software Development Methodologies, Python, C++,
                                Java, Javascript</h5>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                            <h4><i class="fas fa-hands-helping text-teal"></i> Volunteer Experience</h4>
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h3 class="right-just">Never Play Alone Community</h3>
                            <h4>Community Manager & System Administrator</h4>
                            <h5>Never Play Alone is an international gaming and entertainment organization that was
                                founded in 2018 with the mission of building a community of gamers, tech
                                enthusiasts, and aggressively average tryhards. NPA is different from most gaming
                                communities. Respect and friendship are at the heart of everything we stand for. We
                                promote these through positive teamwork, providing helpful guidance, and meaningful
                                interactions. And we happen to be gamers.</h5>
                            <ul>
                                <li>Servers :: Permission Owner, Application Management, Error Report Review</li>
                                <li>Development :: Python, Java, Javascript, C++ Language Applications</li>
                                <li>Operating Systems :: Linux , Windows, AWS</li>
                                <li>Storage :: Cloudbased Databases</li>
                            </ul>
                            <h3 class="right-just">Military & Veteran Gaming (MVG) Charity</h3>
                            <h4>Admin & Content Creator</h4>
                            <ul>
                                <li>Military & Veteran Gamers is a non-profit charity and gaming community</li>
                                <li>Motto: Healing through Gaming</li>
                                <li>Over 8k+ members, including Military, Veterans & Civilians</li>
                                <li>99% for cause, 1% is running costs such as game servers, websites, and server
                                    bots
                                </li>
                                <li>Causes supported include care-packages (avg cost $100), food donations through
                                    our Mission Mess Hall program, PCs for rehabilitating veterans through our
                                    Charlie Mike foundation with GRUNToCorps, mental health support resources, and
                                    helping veterans in need with grants.
                                </li>
                            </ul>
                            <h3 class="right-just">Air Force Sergeants Association</h3>
                            <h4>Chapter's Communication Officer</h4>
                            <h5>Provides monthly reports/updates on legislative activities. Develops and presents
                                training by researching legislative websites and how to contact member’s respective
                                representatives. Provides chapter membership with information or educational tools
                                each general membership meeting. Encourages the submission of legislative proposals
                                by chapter members.</h5>
                            <h5>Achievements Air Force Sergeants Association while serving in office:</h5>
                            <ul>
                                <li>Won $70 million in impact aid for school districts serving large numbers of
                                    military children
                                </li>
                                <li>Won “Forever” GI Bill for Lifetime benefit for college</li>
                                <li>Won authorization of up to 12 weeks of paid leave for primary caregiver after
                                    childbirth; 21 days authorized for service member who is the secondary
                                    caregiver.
                                </li>
                                <li>Archived year after year pay raises for Active Duty Military</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                            <h4><i class="fas fa-cogs text-teal"></i> Skills</h4>
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <ul>
                                        <li>Systems Engineering</li>
                                        <li>Source Control Management</li>
                                        <li>Linux/UNIX Environments</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul>
                                        <li>Product Development</li>
                                        <li>Python and Bash/Shell Scripting</li>
                                        <li>Team Collaboration</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul>
                                        <li>New Technologies</li>
                                        <li>Complex Problem Solving</li>
                                        <li>Implementation Planning</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                            <h4><i class="fas fa-award text-teal"></i> Accomplishments</h4>
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Commendation Medal</li>
                                <li>Academic Achievement</li>
                                <li>2x Achievement Medal</li>
                                <li>3x Airman of the Quarter</li>
                                <li>Nuclear Deterrence Operations Service Medal</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <a class="btn bg-smoke-teal mb-3" href="{% static 'chandler_beck_resume.pdf' %}" role="button">View PDF Version</a>
    </div>

{% endblock %}